.app {
  height: 100%;

  display: flex;
  flex-direction: row;
}

.app .page {
  flex: 1;

  /* Scrollable content */
  overflow-y: auto;
  /* Moving page towards the right to account for fixed sidebar */
  /* Using margin so that the all the content is pushed, not just relatively position elements */
  margin-left: 130px;
}
