.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: var(--color-bg);
  padding: 50px 100px;

  box-shadow: 0 3px 3px var(--color-shadow);
}

.header .logo-container {
  height: 134px;
  width: 134px;
  background: url("../assets/logo.png");

  margin-right: 32px;
}

.header h1 {
  flex-grow: 1;
}

/* media query to move items to columns below given width */
@media (max-width: 760px) {
  .header {
    display: flex;
    flex-direction: column;
    margin-top:30%;
  }
  .header .logo-container { 
    margin-right: 0;
  }
}