.sidebar {
  /* Fixed to the left */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  background: var(--color-primary);
  padding: 32px;

  box-shadow: 3px 0 3px var(--color-shadow);
  z-index: 5;
}

.sidebar .icon-button {
  margin-bottom: 50px;
}

.sidebar .icon-button:last-child {
  margin-bottom: 0;
}

.sidebar .icon-button:last-child {
  margin-top: auto;
}
